REDDIT_CLIENT_ID=__placeholder__
REDDIT_CLIENT_SECRET=__placeholder__
REDDIT_USERNAME=__placeholder__
REDDIT_PASSWORD=__placeholder__
REDDIT_USER_AGENT=python:reddit-survey-scheduler-prototype:0.1 by u/Fair_Imagination_410 for u/PerceptionStudies
