REDDIT_CLIENT_ID=__placeholder__
REDDIT_CLIENT_SECRET=__placeholder__
REDDIT_USERNAME=__placeholder__
REDDIT_PASSWORD=__placeholder__
REDDIT_USER_AGENT=reddit-survey-scheduler-prototype/0.1 by u/PerceptionStudies
